In [ ]:
import csv

warehouse = [
  {'name': 'Xiaomi', 'number': 180, "price": 13, "type": "budget"},
  {'name': 'Oppo', 'number': 50, "price": 18, "type": "mid-range"},
  {'name': 'Google', 'number': 78, "price": 20, "type": "flagship"},
  {'name': 'Apple', 'number': 670, "price": 25, "type": "flagship"},
]

with open('warehouse.csv', 'wt', newline='') as frecord:
  crecord = csv.DictWriter(frecord, ['name', 'number', 'price', 'type'])
  crecord.writeheader()
  crecord.writerows(warehouse)

Для аналізу було обрано сторонній файл з більшою кількістю даних з прикладом даних складу магазину

In [ ]:
!curl https://diviengine.com/downloads/Divi-Engine-WooCommerce-Sample-Products.csv -o warehouse-example.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 19443  100 19443    0     0   102k      0 --:--:-- --:--:-- --:--:--  103k

Далі переглянемо 5 перших записів з файлу

In [ ]:
import pandas as pd

df = pd.read_csv("warehouse-example.csv")
df.head()

,ID,Type,SKU,Name,Published,Is featured?,Visibility in catalog,Short description,Description,Date sale price starts,...,Attribute 2 name,Attribute 2 value(s),Attribute 2 visible,Attribute 2 global,Attribute 2 default,Attribute 3 name,Attribute 3 value(s),Attribute 3 visible,Attribute 3 global,Attribute 3 default
0,66,simple,NaN,Divi Engine String Bag (Big Logo),1,0,visible,This fashionable string bag is made of 100% co...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70,simple,NaN,Divi Engine String Bag (Small Logos),1,0,visible,This fashionable string bag is made of 100% co...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,74,variable,NaN,Brand Buttons,1,0,visible,"Represent your favorite CMS, eCommerce Platfor...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,75,variation,NaN,Brand Buttons - Divi,1,0,visible,NaN,Rep your love for Divi!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,76,variation,NaN,Brand Buttons - Divi Engine,1,0,visible,NaN,Rep your love for Divi Engine!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Та 5 останніх

In [ ]:
df.tail()

,ID,Type,SKU,Name,Published,Is featured?,Visibility in catalog,Short description,Description,Date sale price starts,...,Attribute 2 name,Attribute 2 value(s),Attribute 2 visible,Attribute 2 global,Attribute 2 default,Attribute 3 name,Attribute 3 value(s),Attribute 3 visible,Attribute 3 global,Attribute 3 default
63,167,variation,NaN,"Divi Simplified Crop-top - Medium, White",1,0,visible,NaN,NaN,NaN,...,Color,White,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
64,168,variation,NaN,"Divi Simplified Crop-top - Medium, Yellow",1,0,visible,NaN,NaN,NaN,...,Color,Yellow,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
65,169,variation,NaN,"Divi Simplified Crop-top - Small, Blue",1,0,visible,NaN,NaN,NaN,...,Color,Blue,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
66,170,variation,NaN,"Divi Simplified Crop-top - Small, White",1,0,visible,NaN,NaN,NaN,...,Color,White,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
67,171,variation,NaN,"Divi Simplified Crop-top - Small, Yellow",1,0,visible,NaN,NaN,NaN,...,Color,Yellow,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[["Regular price", "Sale price"]].describe()

       Regular price  Sale price
count      55.000000   13.000000
mean       20.571818   19.528462
std        10.423781    8.262520
min         9.990000    7.990000
25%        12.990000   12.990000
50%        14.990000   12.990000
75%        29.990000   27.990000
max        44.990000   27.990000

Для виконання наступного завдання завантажимо та розпакуємо ще один файл

In [18]:
!unzip archive.zip

Archive:  archive.zip
  inflating: billionaire_list_20yrs.csv

Далі проведемо первинний аналіз файлу

In [19]:
import pandas as pd

df = pd.read_csv("billionaire_list_20yrs.csv")
df.head()

,Unnamed: 0,name,last_name,age,gender,time,permanent_country,company,main_industry,wealth_source_details,industry,state,headquarters,countries,annual_income,daily_income,birth_year,name_cleaned
0,675,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,261928,1955,abdulla_bin_ahmad_al_ghurair
1,676,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,399254,1955,abdulla_bin_ahmad_al_ghurair
2,677,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,536021,1955,abdulla_bin_ahmad_al_ghurair
3,678,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,410391,1955,abdulla_bin_ahmad_al_ghurair
4,679,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,558904,1955,abdulla_bin_ahmad_al_ghurair

In [20]:
df.tail()

,Unnamed: 0,name,last_name,age,gender,time,permanent_country,company,main_industry,wealth_source_details,industry,state,headquarters,countries,annual_income,daily_income,birth_year,name_cleaned
352364,358313,Zygmunt Solorz-Zak,Solorz-Zak,65,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,219780,1957,zygmunt_solorz_zak
352365,358314,Zygmunt Solorz-Zak,Solorz-Zak,65,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,207493,1957,zygmunt_solorz_zak
352366,358315,Zygmunt Solorz-Zak,Solorz-Zak,65,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,180887,1957,zygmunt_solorz_zak
352367,358316,Zygmunt Solorz-Zak,Solorz-Zak,65,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,231452,1957,zygmunt_solorz_zak
352368,358317,Zygmunt Solorz-Zak,Solorz-Zak,65,M,2022,Poland-Warsaw,Cyfrowy Polsat,Media & Entertainment,TV broadcasting; TV station,Media & Entertainment; Media;Media;Entertainment,NaN,NaN,pol,74820000,204986,1957,zygmunt_solorz_zak

In [22]:
df[["daily_income", "annual_income"]].describe()

       daily_income  annual_income
count  3.523690e+05   3.523690e+05
mean   3.937844e+05   1.437315e+08
std    6.402521e+05   2.336920e+08
min    4.606400e+04   1.681350e+07
25%    1.334380e+05   4.870500e+07
50%    2.093830e+05   7.642500e+07
75%    3.826190e+05   1.396560e+08
max    1.548000e+07   5.650200e+09